#main{
    margin: 0 auto;
    margin-top: 50px;
    width:80%; 
   /* border: 2px solid #000;*/
    height: 500px;
    display: flex;
}

#side{
    background: url("../images/images_064.jpeg");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    width: 200px;
    
}
article{
    width: 750px;
    border: 1px solid black;
}
#user{
    border-radius: 100%;
    width: 200px;
}
#images{
    display: flex;
    width: 100   ;

}
.myImage{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#enny{
    border: 2px solid#000;
    border-radius: 100%;
    width: 120px;
    height: 100px;
}
#name{
    padding: 10px;
    background: #333;
    border-radius: 40px;
    width: 130px;
    color: #fff;
    position: relative;
    left:  300px;
}